<div class="row">
  <div class="col-md-6">
    <h3>Before lunch</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>And</td>  
        <td> We will use <a href="https://rstudio.cloud">RStudio cloud</a>, so there is no need for <a href="https://swcarpentry.github.io/r-novice-gapminder/setup.html">installations and preparations</a> </td></tr>
      <tr> <td>09:00</td>  
        <td> Startup <a href="https://swcarpentry.github.io/r-novice-gapminder/01-rstudio-intro/index.html">
        Introduction to R and RStudio </a> and <a href="https://swcarpentry.github.io/r-novice-gapminder/03-seeking-help/index.html"> Seeking help </a> </td> </tr>
      <tr> <td>10:00</td>  
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/06-data-subsetting/index.html">Subsetting Data</a> and <a href="https://swcarpentry.github.io/r-novice-gapminder/07-control-flow/index.html">Control flow</a></td> </tr>
      <tr> <td>10:30</td>  
        <td>Morning break</td> </tr>
      <tr> <td>10:45</td>  
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/08-plot-ggplot2/index.html">Creating Publication-Quality Graphics with ggplot2s </a> and  <a href="https://swcarpentry.github.io/r-novice-gapminder/09-vectorization/index.html">Vectorization</a> </td> </tr>
      <tr> <td>11:45</td>  
        <td> <a href="https://swcarpentry.github.io/r-novice-gapminder/10-functions/index.html">Functions Explained</a> and <a href="https://swcarpentry.github.io/r-novice-gapminder/11-writing-data/index.html"> Writing Data </a> </td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>After lunch</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/12-plyr/index.html">Splitting and Combining Data Frames with plyr</a> and Data Frame Manipulation with dplyr</td> </tr>
      <tr> <td>14:00</td>  
        <td> <a href="https://swcarpentry.github.io/r-novice-gapminder/13-dplyr/index.html">Data Frame Manipulation with tidyr</a> </td> </tr>
      <tr> <td>14:15</td>  
          <td> <a href="https://swcarpentry.github.io/r-novice-gapminder/15-knitr-markdown/index.html">Producing Reports With knitr and Writing Good Software</a> </td> </tr>
      <tr> <td>15:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
